In [22]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("job_listings_USA.csv", encoding = "ISO-8859-1",header=None)

In [3]:
df.columns = ['Title','Brand','Category','City','State','Date']

In [26]:
df.shape

(12428859, 7)

In [4]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [14]:
df_linkedin = pd.read_csv("temp_datalab_records_linkedin_company.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df_linkedin_clean = df_linkedin.dropna(subset=['industry'])

In [29]:
d_company_industry = dict(df_linkedin_clean.groupby('company_name')['industry'].apply(list))

In [30]:
df['Industry'] = df['Brand'].apply(lambda s: d_company_industry[s][0] if s in d_company_industry else np.nan)
df_temp = df.dropna(subset=['Industry'])
df_temp.shape

(1792219, 7)

In [31]:
df_temp.head()

,Title,Brand,Category,City,State,Date,Industry
0,Automotive Technician Coggin Honda St. Augustine,Asbury Automotive Group,NaN,St. Augustine,FL,2018-04-12,Automotive
1,Part Time Receptionist / Nights and Weekends /...,Asbury Automotive Group,NaN,Atlanta,GA,2018-03-05,Automotive
2,Service Technician & Used Technician McDavid P...,Asbury Automotive Group,NaN,Plano,TX,2018-04-16,Automotive
3,Part-time Receptionist / Plaza Land Rover,Asbury Automotive Group,NaN,Creve Coeur,MO,2018-04-23,Automotive
4,Automotive Service Technician McDavid Honda Ir...,Asbury Automotive Group,NaN,Irving,TX,2018-04-30,Automotive

In [42]:
df_temp['Industry'].replace('amp;','',inplace=True)
df_temp['Industry'].replace('&','and',inplace=True)
df_temp['Industry'].value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

Retail                                 685453
Internet                               240642
Business Supplies and Equipment        219109
Consumer Electronics                   205969
Banking                                 50091
Restaurants                             37648
Hospital &amp; Health Care              34668
Apparel & Fashion                       33129
Information Technology and Services     32820
Investment Banking                      31205
Automotive                              23176
Government Administration               19067
Logistics and Supply Chain              18452
Renewables & Environment                18325
Electrical/Electronic Manufacturing     16890
Construction                            16658
Broadcast Media                         13966
Computer Software                       13358
Pharmaceuticals                         10222
Hospital & Health Care                  10017
Machinery                                7406
Research                                 6844
Packaging and Containers                 6306
Biotechnology                            5224
Defense &amp; Space                      4628
Education Management                     4576
Medical Devices                          4211
Building Materials                       4112
Real Estate                              3903
Chemicals                                2548
Entertainment                            1664
Commercial Real Estate                   1643
Financial Services                       1637
Airlines/Aviation                        1449
Semiconductors                           1428
Wireless                                 1341
Insurance                                1294
Utilities                                 515
Oil &amp; Energy                          251
Tobacco                                    84
Outsourcing/Offshoring                     82
Telecommunications                         77
Consumer Goods                             70
Marketing and Advertising                  61
Name: Industry, dtype: int64

Retail                                 685453
Internet                               240642
Business Supplies and Equipment        219109
Consumer Electronics                   205969
Banking                                 50091
Restaurants                             37648
Hospital &amp; Health Care              34668
Apparel & Fashion                       33129
Information Technology and Services     32820
Investment Banking                      31205
Automotive                              23176
Government Administration               19067
Logistics and Supply Chain              18452
Renewables & Environment                18325
Electrical/Electronic Manufacturing     16890
Construction                            16658
Broadcast Media                         13966
Computer Software                       13358
Pharmaceuticals                         10222
Hospital & Health Care                  10017
Machinery                                7406
Research                                 6844
Packaging and Containers                 6306
Biotechnology                            5224
Defense &amp; Space                      4628
Education Management                     4576
Medical Devices                          4211
Building Materials                       4112
Real Estate                              3903
Chemicals                                2548
Entertainment                            1664
Commercial Real Estate                   1643
Financial Services                       1637
Airlines/Aviation                        1449
Semiconductors                           1428
Wireless                                 1341
Insurance                                1294
Utilities                                 515
Oil &amp; Energy                          251
Tobacco                                    84
Outsourcing/Offshoring                     82
Telecommunications                         77
Consumer Goods                             70
Marketing and Advertising                  61
Name: Industry, dtype: int64

In [36]:
df.groupby(['State','Industry'])['Industry'].count()

State               Industry
AK                  Apparel & Fashion                         75
                    Business Supplies and Equipment          963
                    Retail                                    33
AL                  Apparel & Fashion                         96
                    Banking                                  594
                    Biotechnology                              3
                    Broadcast Media                          262
                    Building Materials                        88
                    Business Supplies and Equipment         4435
                    Chemicals                                145
                    Construction                             144
                    Defense &amp; Space                      762
                    Electrical/Electronic Manufacturing     1761
                    Internet                                 144
                    Logistics and Supply Chain                82
                    Pharmaceuticals                           18
                    Retail                                 30278
AR                  Apparel & Fashion                         54
                    Banking                                 2137
                    Broadcast Media                          380
                    Business Supplies and Equipment         2206
                    Computer Software                         17
                    Defense &amp; Space                     1004
                    Hospital & Health Care                     6
                    Information Technology and Services      223
                    Internet                                  28
                    Machinery                                 10
                    Retail                                 12174
AZ                  Airlines/Aviation                         40
                    Apparel & Fashion                        542
                                                           ...
WI                  Packaging and Containers                  11
                    Pharmaceuticals                         1733
                    Renewables & Environment                  92
                    Retail                                  4619
WV                  Airlines/Aviation                         35
                    Banking                                 2114
                    Business Supplies and Equipment          524
                    Internet                                  22
                    Retail                                  2586
WY                  Airlines/Aviation                         55
                    Business Supplies and Equipment          460
                    Retail                                  1140
Wake Forest         Real Estate                                3
Wappingers Falls    Real Estate                                3
Warrington          Real Estate                                8
Warsaw              Retail                                     3
Watford City        Oil &amp; Energy                          27
West Palm Beach     Real Estate                                3
Westborough         Real Estate                                9
Westworth Village   Real Estate                                2
Whitehouse Station  Real Estate                                3
Williston           Oil &amp; Energy                          60
Wilmington          Retail                                     3
Winter Garden       Real Estate                                1
Wixom               Real Estate                                3
Woodinville         Retail                                     3
Woodstock           Retail                                     3
Worcester           Retail                                     1
Yardley             Real Estate                                3
not set             Research                                  10
Name: Industry, Length: 989, dtype: int64

In [ ]:
df.groupby(['City','Category']).count()

In [ ]:
website_url = requests.get('https://www.governing.com/gov-data/population-density-land-area-cities-map.html').text

In [ ]:
# get the table
soup = BeautifulSoup(website_url,'lxml')
my_table = soup.find("table", { "class":"dataTable"})

In [ ]:
# Function: Convert BeautifulSoup tags to string list
def convert_to_list(bs4row):
    list_bs4row = bs4row.findAll(["td","th"])
    return [bs4.get_text().strip() for bs4 in list_bs4row]

In [ ]:
# get the table
soup = BeautifulSoup(website_url,'lxml')
my_table = soup.find("table", { "class":"dataTable"})
rows=my_table.findAll("tr")

# convert to list of list
my_data = [convert_to_list(r) for r in rows[1:]]

In [ ]:
df_city = pd.DataFrame(my_data,columns=['City,State','Population_Density','Population','Land_Area'])

# convert the number from string to integer
for col in df_city.columns[1:]:
    df_city[col]=df_city[col].apply(lambda s: int(s.replace(',','')))

In [ ]:
US_city = [city.upper().split(",")[0] for city in df_city['City,State'].tolist()]
US_city

In [ ]:
df_US_city = df[df['City'].str.upper().isin(US_city)]

In [ ]:
df_US_city.shape[0]

In [ ]:
df_US_city.groupby(['City','Category'])['Title'].count()

In [ ]:
df['Date'].min()

In [ ]:
df['Date'].max()

In [ ]:
df_state = pd.read_csv('WebScraping_state_abv.csv')

In [ ]:
state_abv = dict(zip(df_state['Full_name'].tolist(),df_state['USPS'].tolist()))

In [ ]:
state_abv

In [ ]:
df['Brand']